@model GroupsApp.Models.GroupPost

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>GroupPost</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MediaContent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MediaContent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsPinned)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsPinned)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdminOnly)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdminOnly)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Author.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Group)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Group.GroupId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.GroupPostId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
