@model IEnumerable<GroupsApp.Payload.DTO.GroupPostDTO>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PostContent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsPinned)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdminOnly)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Group)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PostContent)
            </td>
            <td>
                <img src="@item.PostImage" alt="Image" style="max-width: 400px; max-height: 400px;" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPinned)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdminOnly)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Group.GroupId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GroupPostId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.GroupPostId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.GroupPostId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
