@model GroupsApp.Models.Event

@{
    ViewData["Title"] = "Details";
}


<h1>Details</h1>

<div>
    <h4>Event</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Categories)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categories)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxParticipants)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxParticipants)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BannerURL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BannerURL)
            <br />
            <img src="@Url.Content(Model.BannerURL)" alt="BannerURL" style="max-width: 100px; max-height:  100px;" />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LogoURL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LogoURL)
            <br />
            <img src="@Url.Content(Model.LogoURL)" alt="LogoURL" style="max-width: 100px; max-height:  100px;" />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AgeLimit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AgeLimit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EntryFee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EntryFee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Organizer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Organizer.UserName)
        </dd>
        <dt class="col-sm-2">
            Going:
        </dt>
        <dd class="col-sm-10">
            @ViewBag.Going |
            <a asp-action="Going" asp-route-id="@Model.EventId">Change Going Status</a>
        </dd>
    </dl>
</div>
<div>

    <a asp-action="Edit" asp-route-id="@Model?.EventId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
