@model IEnumerable<GroupsApp.Models.Event>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EventName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categories)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxParticipants)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                Banner
            </th>
            <th>
                Logo
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AgeLimit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EntryFee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Organizer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EventName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categories)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxParticipants)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                    <img src="@item.BannerURL" alt="Image" style="max-width: 100px; max-height:  100px;" />
            </td>
            <td>
                    <img src="@item.LogoURL" alt="Image" style="max-width:   100px; max-height:   100px;" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AgeLimit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EntryFee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Organizer.Username)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EventId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EventId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EventId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
