@model IEnumerable<GroupsApp.Models.MarketplacePosts.MarketplacePost>

@{
	ViewData["Title"] = "Index";
}

<h1>Welcome to the Marketplace!</h1>

<p>
	@* <a asp-action="Create">Add product</a> *@
	<a asp-action="CreateDonationPost">Add donation product</a><br />
	<a asp-action="CreateFixedPricePost">Add fixed price product</a><br />
	<a asp-action="CreateAuctionPost">Start auction</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Title)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Description)
			</th>
			<th>Image</th>
			<th>
				@Html.DisplayNameFor(model => model.Location)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.CreationDate)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.EndDate)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.IsPromoted)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.IsActive)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Type)
			</th>
			<th>Subclass Details</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Title)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Description)
				</td>
				<td>
					<img src="@item.MediaContent" alt="Image" style="max-width: 400px; max-height: 400px;" />
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Location)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.CreationDate)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.EndDate)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.IsPromoted)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.IsActive)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Type)
				</td>
				<td>
					@if (item is GroupsApp.Models.MarketplacePosts.DonationPost donationPost)
					{
						<p>Donation Link: @donationPost.DonationLink</p>
					}
					else if (item is GroupsApp.Models.MarketplacePosts.AuctionPost auctionPost)
					{
						<p>Current Bid Price: @auctionPost.CurrentBidPrice</p>
						<p>Minimum Bid Price: @auctionPost.MinimumBidPrice</p>
					}
					else if (item is GroupsApp.Models.MarketplacePosts.FixedPricePost fixedPricePost)
					{
						<p>Price: @fixedPricePost.Price</p>
					}
				</td>
				<td>
					<a asp-action="Details" asp-route-id="@item.MarketplacePostId">Details</a> |
					<a asp-action="Delete" asp-route-id="@item.MarketplacePostId">Delete</a> |
					<form asp-action="AddToFavorites" method="post" style="display:inline;">
						<input type="hidden" name="id" value="@item.MarketplacePostId" />
						<button type="submit">&#x2764;&#xfe0f;</button>
					</form>
					<a asp-action="AddToCart" asp-route-id="@item.MarketplacePostId">Add To Cart</a>
				</td>
			</tr>
		}
	</tbody>
</table>